@import "../../style.scss";
@import "~bootstrap/scss/bootstrap";

// Your custom SCSS variables
$bg: #e0e0e0; // Example background color

.leftBar {
  flex: 3;

  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-y: scroll;

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .h5 {
      color: gray;
    }
  }
}

.customTitle {
  font-size: 15px;
  color: black !important;
  font-weight: bold;
}

.customContainer {
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
